@import 'variables.scss';
@import 'fonts.scss';
@import '~normalize.css';
@import 'mixins.scss';
@import 'slick.scss';

p, span {
  font-family: 'MontserratMedium', 'sans-serif';
  font-size: 14px;
  margin-bottom: 0;
}

.ml-40 {
  margin-left: 40px;
}

.btn {
  @include btn;
  font-family: 'MontserratBold', 'sans-serif';
  font-size: 14px;
  color: white;
  transition: all 0.2s ease;
  &:hover {
    background-color: white;
    color: $turq;
    transition: all 0.3s ease-in-out;
  }
}

.header {
  &-top {
    padding: 10px 0;
  }
  &-phone {
    font-family: 'MontserratBold', 'sans-serif';
    font-size: 28px;
    color: $blueDark;
    letter-spacing: 0.05em;
  }
  &-info {
    font-family: 'RalewayMedium', 'sans-serif';
    font-size: 18px;
    font-weight: 500;
    color: $blueDark;
    letter-spacing: 0.05em;
    opacity: 0.8;
  }
  &-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    &_item {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

nav {
  height: 50px;
  width: 100%;
  background-color: $blueLight;
}

.menu_icon {
  display: none;
}

.nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &-wrap {
    position: relative;
  }
  &-item {
    &_link {
      position: relative;
      text-decoration: none;
      color: white;
      font-family: 'MontserratMedium', 'sans-serif';
      font-size: 14px;
      &:hover {
        color: white;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-out;
      }
      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }
    &_link.active {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-out;
      }
    }
  }
  &-search {
    &:hover {
      cursor: pointer;
    }
  }
  &-input {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    height: 34px;
    padding: 0 20px;
    background: #6C9DCD;
    transform: translate(0, -50%);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 37px;
    width: 0%;
    outline: none;
    color: white;
    font-family: 'MontserratMedium', 'sans-serif';
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    & + label:after {
      content: '';
      display: block;
      position: absolute;
      background: transparent url($imgPath +"searchclose.svg")  center / 100% no-repeat;
      fill: white;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
      width: 15px;
      height: 15px;
    }
    & + label:hover:after {
      cursor: pointer;
      opacity: 0.8;
    }
    &.open {
      width: 100%;
    }
  }
}

.slider {
  &-main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.section {
  &-main {
    position: relative;
    height: 550px;
    &-watermark {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
    }
    &-slide {
      width: 100%;
      position: relative;
      height: 100%;
      background: transparent;
      &-img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
      }
      &_header {
        font-family: 'MontserratBold', 'sans-serif';
        font-size: 45px;
        color: $blueDark;
        position: relative;
        word-wrap: break-word;
        z-index: 8;
        margin-bottom: 20px;
      }
      &_subtext {
        font-family: 'RalewayMedium', 'sans-serif';
        font-size: 24px;
        color: $blueDark;
        opacity: 0.7;
        position: relative;
        z-index: 8;
        margin-bottom: 40px;
      }
      &_btn {
        @include btn;
        position: relative;
        z-index: 8;
        color: white;
        height: 40px;
        padding: 10px 40px;
        font-family: 'MontserratMedium', 'sans-serif';
        font-size: 14px;
        border: 1px solid transparent;
        transition: all 0.2s ease;
        &:hover {
          cursor: pointer;
          border: 1px solid $turq;
          background: white;
          color: $turq;
        }
      }
    }
  }

  &-services {
    &-header {
      @include section-header;
      & h2 {
       @include section-header-h2;
      }
      &_top_line {
       @include section-header_top_line;
      }
      &_bottom_line {
       @include section-header_bottom_line;
      }
    }

    &-card {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      &_img_wrap {
        position: relative;
        width: 100%;
        & img {
          width: 100%;
        }
      }
      &_img {
        &_header {
          position: absolute;
          bottom: 10px;
          left: 30px;
          font-family: 'MontserratMedium', 'sans-serif';
          font-size: 36px;
          color: white;
        }
      }
      &_service {
        &_wrap {
          margin-top: 30px;
          overflow: hidden;
          max-height: 80px;
          transition: max-height 0.3s ease;
          &.show {
            max-height: 800px;
          }
        }
        display: inline-block;
        font-family: 'RalewayRegular', 'sans-serif';
        font-size: 18px;
        line-height: 30px;
        margin: 0 30px 10px 0;
        color: $blueDark;
        border-bottom: 1px solid $blueDark;
        transition: opacity 0.3s ease;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      &_btn {
        @include btn;
        width: 165px;
        height: 40px;
        color: white;
        font-family: 'MontserratSemiBold', 'sans-serif';
        font-size: 14px;
        text-align: center;
        padding: 10px;
        margin-top: 40px;
        border: 1px solid transparent;
        transition: all 0.2s ease;
        &:hover {
          cursor: pointer;
          border: 1px solid $turq;
          background: white;
          color: $turq;
        }
      }
    }

    &-main {
      & h2 {
        font-family: 'RalewayMedium', 'sans-serif';
        font-size: 28px;
        color: $blueDark;
        letter-spacing: 0.05em;
        margin: 20px 0;
      }
      &-block {
        padding: 15px 20px;
        position: relative;
        transition: background-color 0.2s ease;
        &:hover {
          cursor: pointer;
          background-color: $blueLight;
          & p {
            color: white;
          }
        }
        &.active {
          background-color: $blueLight;
          & p {
            color: white;
            line-height: 28px;
          }
          &::after {
            content: '';
            position: absolute;
            right: -38px;
            top: 11px;
            width: 30px;
            height: 36px;
            background-image: url("../img/arrow-blue.png");
          }
        }
        &_gradient_top {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: linear-gradient(270deg, rgba(45, 115, 184, 0) 0%, rgba(45, 115, 184, 0.5) 51.04%, rgba(45, 115, 184, 0) 100%);
        }
        &_gradient_bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: linear-gradient(270deg, rgba(45, 115, 184, 0) 0%, rgba(45, 115, 184, 0.5) 51.04%, rgba(45, 115, 184, 0) 100%);
        }
        & p {
          font-family: 'RalewayRegular', 'sans-serif';
          color: $black;
          font-size: 18px;
          letter-spacing: 0.05em;
        }
      }
    }

    &-price {
      margin-left: 40px;
      border-radius: 25px;
      background-color: rgb(60, 172, 183, 0.05);
      &-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 30px;
        position: relative;
        &_name {
          font-family: 'RalewayRegular', 'sans-serif';
          font-size: 16px;
          letter-spacing: 0.05em;
          color: black;
        }
        &_coast {
          font-family: 'RalewaySemiBold', 'sans-serif';
          font-size: 24px;
          color: $blueLight;
          letter-spacing: 0.05em;
        }
      }
    }

    &-info {
      margin-top: 40px;
      margin-left: 40px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'RalewayRegular', 'sans-serif';
      letter-spacing: 0.05em;
    }
  }

  &-specialists {
    &-header {
      & h2 {
        @include section-header-h2;
      }
      @include section-header;
      &_top_line {
        @include section-header_top_line;
      }
      &_bottom_line {
        @include section-header_bottom_line;
      }
      &_dop_text {
        @include section-header_dop_text;
      }
    }
    &-cards {
      height: 555px;
    }
    &-card {
      margin-top: 32px;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_img {
        &_wrap {
          position: relative;
          & img {
            width: 235px;
          }
        }
        &_text {
          position: absolute;
          top: 10px;
          left: 0;
          width: 135px;
          height: 23px;
          text-align: center;
          line-height: 23px;
          background: rgba(38, 52, 141, 0.8);
          color: white;
          font-family: 'MontserratSemiBold', 'sans-serif';
          font-size: 12px;
          border-radius: 0 43px 43px 0;
        }
      }
      &_header {
        width: 235px;
        margin-top: 32px;
        font-family: 'MontserratMedium', 'sans-serif';
        font-size: 18px;
        color: $blueDark;
      }
      &_subtext {
        width: 235px;
        margin-top: 10px;
        font-family: 'RalewayMedium', 'sans-serif';
        font-size: 14px;
        color: $blueDark;
        opacity: 0.6;
      }
    }
  }

  &-recording {
    margin-top: 80px;
    height: 110px;
    width: 100%;
    background-color: $turq;
    & h2 {
      font-family: 'MontserratBold', 'sans-serif';
      font-size: 30px;
      color: white;
      display: inline-block;
    }
    &_btn {
      @include btn;
      width: 242px;
      height: 60px;
      outline: none;
      border: none;
      background-color: white;
      color: $turq;
      font-family: 'MontserratSemiBold', 'sans-serif';
      font-size: 24px;
      transition: color, background-color 0.3s ease;
      &:hover {
        border: 4px solid white;
        background-color: $turq;
        color: white;
      }
    }
  }

  &-about-us {
    background-color: $lightBackground;
    padding-top: 80px;
    &-header {
      @include section-header;
      margin: 0;
      & h2 {
        @include section-header-h2;

      }
      &_top_line {
        @include section-header_top_line;
      }
      &_bottom_line {
        @include section-header_bottom_line;
      }
      &_dop_text {
        @include section-header_dop_text;
      }
    }
    &-infoblock {
      margin-top: 20px;
      &_img {
        width: 100%;
      }
      &-text {
        height: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_item {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          margin-bottom: 50px;
          margin-left: 40px;
          &:last-child {
            margin-bottom: 0;
          }
          & img {
            margin-right: 25px;

          }
          & h2 {
            font-family: 'MontserratBold', 'sans-serif';
            font-size: 96px;
            color: $blueDark;
            line-height: 80px;
          }
          & p {
            font-family: 'RalewayMedium', 'sans-serif';
            font-size: 24px;
            color: $blueDark;
            margin-left: 5px;
          }
        }
      }
    }
  }

  &-news {
    padding: 30px 0;
    background: url($imgPath + "news-background.png") center / cover no-repeat;
    &-header {
      &_news {
        @include section-header;
        margin: 0;
        & h2 {
          @include section-header-h2;

        }
        &_top_line {
          @include section-header_top_line;
        }
      }
      &_articles {
        @include section-header;
        margin: 0;
        & h2 {
          @include section-header-h2;
          color: $turq;
          width: 100%;
        }
        &_bottom_line {
          @include section-header_bottom_line;
        }
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
      & h3 {
        font-family: 'MontserratSemiBold', 'sans-serif';
        font-size: 20px;
        color: $blueDark;
        letter-spacing: 0.05em;
        line-height: 24px;
        margin-bottom: 15px;
      }
      &_info {
        display: flex;
        & img {
          max-width: 133px;
          max-height: 116px;
        }
        &_date {
          position: relative;
          font-family: 'MontserratMedium', 'sans-serif';
          font-size: 12px;
          color: $turq;
          letter-spacing: 0.05em;
          margin-bottom: 20px;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $turq;
            bottom: -10px;
          }
        }
        &_text {
          &_wrap {
            width: 100%;
            padding-right: 40px;
            position: relative;
          }
          font-family: 'RalewayMedium', 'sans-serif';
          font-size: 16px;
          color: $blueDark;
          letter-spacing: 0.05em;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          white-space: pre-line;
          overflow: hidden;
        }
        &_link {
          font-family: 'MontserratMedium', 'sans-serif';
          font-size: 14px;
          letter-spacing: 0.05em;
          color: $turq;
          text-decoration: none;
          position: absolute;
          bottom: 0;
          right: 40px;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $turq;
            bottom: -2px;
          }
          &:hover {
            color: $blueDark;
            &:before {
              background-color: $blueDark;
            }
          }
        }
      }
      & img {
        margin-right: 20px;
      }
    }

    &-btn {
      @include btn;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 165px;
      background-color: $turq;
      color: white;
      height: 38px;
      font-family: 'MontserratSemiBold', 'sans-serif';
      font-size: 14px;
      transition: color, background-color 0.3s ease;
      &:hover {
        border: 1px solid $turq;
        background-color: white;
        color: $turq;
      }
      &_wrap {
        width: 100%;
        display: flex;
        margin-top: 60px;
        justify-content: center;
      }
    }
  }

  &-second-header-bg {
    background-image: url("../img/sub-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 143px;
    padding-top: 75px;
    & h1 {
      margin: 0;
      font-family: 'MontserratBold', 'sans-serif';
      color: $blueDark;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.05em;
    }
  }
}

.footer {
  background-color: $lightBackground;
  padding-top: 50px;
  &-header {
    font-family: 'MontserratBold', 'sans-serif';
    font-size: 18px;
    color: $black;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }
  &-contact {
    &-block {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      display: flex;
      &_text {
        font-family: 'RalewayMedium', 'sans-serif';
        font-size: 14px;
        color: $black;
        letter-spacing: 0.05em;
        line-height: 18px;
      }
      &_svg {
        height: 12px;
        width: 12px;
        margin-right: 10px;
        margin-top: 2px;
      }
    }
  }
  &-icons-block {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    & img {
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
  &-link {
    font-family: 'RalewayMedium', 'sans-serif';
    font-size: 14px;
    letter-spacing: 0.05em;
    color: $blueDark;
    &:hover {
      cursor: pointer;
      color: $turq;
    }
  }
  &-info-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &_text {
      font-family: 'RalewayMedium', 'sans-serif';
      font-size: 14px;
      margin-left: 10px;
      letter-spacing: 0.05em;
    }
  }
  &-rating-block {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 24px;
    height: 242px;
    & img {
      margin-bottom: 10px;
    }
    &_text {
      font-family: 'RalewayMedium', 'sans-serif';
      font-size: 13px;
      text-align: center;
      margin-bottom: 10px;
    }
    &_button {
      border: 1px solid red;
      background-color: transparent;
      height: 30px;
      width: 103px;
      font-family: 'RalewayMedium', 'sans-serif';
      font-size: 14px;
      color: red;
      margin-right: 30px;
      transition: all 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: red;
        color: white;
      }
    }
  }
  &-map-block {
    margin-top: 50px;
  }
  &-bottom {
    width: 100%;
    background-color: $blueLight;
    height: 50px;
    margin-top: 50px;
    & p {
      font-family: 'RalewayRegular', 'sans-serif';
      font-size: 14px;
      color: white;
      text-align: center;
    }
  }
}

.slider-specialists .slick {
  &-track {
    height: 100%;
  }
  &-list {
    height: 100%;
  }
  &-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    li {
      list-style: none;
      margin: 0 9px;
      &.slick-active button{
        background: rgba(4, 16, 71, 0.8);
        width: 12px;
        height: 12px;
      }
    }
    button {
      padding: 0;
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(4, 16, 71, 0.3);
      border: none;
    }
  }
}

.slider-main .slick {
  &-track {
    display: block;
    height: 100%;
  }
  &-list {
    height: 100%;
  }
  &-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    & li {
      list-style: none;
      margin: 0 9px;
      &.slick-active button{
        background: rgba(4, 16, 71, 0.8);
        width: 12px;
        height: 12px;
      }
    }
    button {
      padding: 0;
      font-size: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(4, 16, 71, 0.3);
      border: none;
    }
  }
}

body.lock {
  overflow: hidden;
}

.default-form {
  position: relative;
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  &_header {
    font-family: 'MontserratBold', 'sans-serif';
    font-size: 24px;
    color: $blueDark;
    letter-spacing: 0.05em;
  }
  &_text {
    font-family: 'RalewayMedium', 'sans-serif';
    font-size: 14px;
    color: $blueDark;
    opacity: 0.8;
    text-align: center;
    letter-spacing: 0.05em;
  }
  &_input {
    background-color: transparent;
    border: 1px solid $blueLight;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-family: 'RalewayMedium', 'sans-serif';
      font-size: 14px;
      color:$placeholder;
    }
  }
  &-btn {
    @include btn;
    font-family: 'MontserratBold', 'sans-serif';
    color: white;
    font-size: 14px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
    &_wrap {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  &_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      &::before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $blueDark;
        border-radius: 0;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      &._error::before {
        border: 1px solid red;
      }
    }
    &:checked+label::before {
      border-color: $blueDark;
      background-color: $blueDark;
    }
  }
  &_agree {
    font-family: 'RalewayMedium', 'sans-serif';
    font-size: 14px;
    color: $blueDark;
    opacity: 0.8;
    line-height: 14px;
    &_wrap {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
    }
  }

}

.text-success {
  display: block;
  text-align: center;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb),var(--bs-text-opacity))!important;
}
.text-error {
  color: red;
  display: block;
  text-align: center;
}

.popup {
  z-index: 110;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  &-body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-content {
    max-width: 500px;
    position: relative;
  }
  &-close {
    width: 20px;
    height: 20px;
    background-image: url($imgPath +"close.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    color: black;
    top: 10px;
    right: 10px;
    z-index: 10;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1400px) {
  .footer-rating-block_button {
    width: 80px;
    font-size: 12px;
  }
  .footer-rating-block_text {
    font-size: 10px;
  }
}

@media (max-width: 1199px) {
  .header-phone {
    font-size: 24px;
  }
  .header-info {
    font-size: 16px;
  }
  .nav-item_link {
    font-size: 13px;
  }
  .section-main-slide-img {
    visibility: hidden;
  }
  .section-recording h2 {
    font-size: 26px;
  }
  .section-about-us-infoblock-text_item h2 {
    font-size: 86px;
  }
  .footer-link {
    font-size: 12px;
  }
  .footer-rating-block_button {
    width: 70px;
    font-size: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .menu_icon {
    z-index: 12;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    & span, &:before, &:after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease;
      background-color: white;
    }
    &:before, &:after {
      content: "";
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    & span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }
    &.active {
      & span {
        transform: scale(0) translate(0, -50%);
      }
      &:before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
      }
      &:after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
  .menu_body {
    z-index: 10;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 115, 184, 0.8);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease;
    overflow: auto;
    &_header {
      position: fixed;
      width: 100%;
      top: 0;
      left: -100%;
      height: 50px;
      background-color: $blueDark;
      transition: left 0.3s ease;
      z-index: 11;
      &.active {
        left: 0;
      }
    }
    &.active {
      left: 0;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    &-item {
      margin-top: 10px;
      &_link {
        font-size: 24px;
      }
    }
  }
  .section-about-us-infoblock-text_item h2 {
    font-size: 56px;
  }
  .section-about-us-infoblock-text_item p {
    font-size: 16px;
  }
  .section-news-elem {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .footer-social {
    margin-top: 10px;
  }
  .footer-parking {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  .footer-info-block {
    margin-bottom: 0;
    margin-right: 5px;
    width: 100%;
  }
  .footer-rating-block {
    margin-bottom: 10px;
  }
}

@media (max-width: 762px) {
  .header-icons {
    margin-top: 10px;
  }
  .section-recording h2 {
    font-size: 22px;
  }
  .section-recording h2 {
    height: 10px;
  }
  .section-about-us-infoblock_img {
    display: none;
  }
}

@media (max-width: 576px) {

  .section-main-slide_header {
    font-size: 24px;
  }

  .section-main-slide_subtext {
    font-size: 16px;
  }

  .btn {
    margin-left: 0;
  }
  .popup-content {
    max-width: 295px;
  }
  .section-services-header h2 {
    width: 100%;
  }
  .section-services-card_img_header {
    font-size: 26px;
  }
  .section-specialists-header h2 {
    width: 100%;
  }
  .section-specialists-header_dop_text {
    width: 100%;
  }
  .section-recording h2 {
    font-size: 16px;
    text-align: center;
  }
  .section-recording_btn {
    height: 40px;
  }
  .section-about-us-header h2 {
    width: 100%;
  }
  .section-about-us-header_dop_text {
    width: 100%;
  }
  .section-about-us-infoblock-text_item {
    margin-left: 0;
  }
  .section-about-us-infoblock-text_item h2 {
    font-size: 46px;
  }
  .section-news-block_info {
    flex-direction: column;
  }
  .section-news-block img {
    margin-right: 25%;
    margin-left: 25%;
  }
  .section-news-block_info_text_wrap {
    padding-right: 0;
    padding-bottom: 24px;
  }
  .section-news-block_info_link {
    right: 0;
  }
  .footer-parking {
    flex-direction: column;
  }
  .footer-info-block {
    margin-bottom: 10px;
  }
  .header-logo {
    margin-bottom: 10px;
  }
  .header-info-wrap {
    margin-bottom: 10px;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
}