$turq: #3CACB7;
$blueLight: #2D73B8;
$blueDark: #26348D;
$blueDarkTwo: #2B3D89;
$lightBackground: #F3F6FC;
$black: #262626;
$placeholder: #C4C4C4;
$black: #151515;
$turqLightBackground: #F7F7F7;
$grey: #C7C7C7;

$fontsPath: '../fonts/';
$imgPath: '../img/';